# Binaries and test artifacts
*.test
*.test.exe
main
show
attest
check
vcek-provisioner

# Workspaces and editor files
*~
*.swp
.vscode*
*.code-workspace
go.work
go.work.sum

# Project specific
external/*
**/kdsdatabase.bin*
